.personalizado {
    font-size: 70px;
    color: #2859c2;
    padding: 20px;
    margin: 20px;
}

.personalizadoII {
    font-size: 50px;
    color: #c26628;
    padding: 20px;
    margin: 20px;
}

.personalizadoIII {
    font-size: 30px;
    color: #5128c2;
    padding: 20px;
    margin: 50px;
}